body {
  font-family: 'Abel', sans-serif; }

.container {
  padding: 3em 15%;
  background-color: #FFFFFF;
  overflow: hidden; }

.main {
  color: #111111; }

.home {
  color: #111111;
  display: flex;
  flex-direction: column;
  border-bottom: 2px;
  border-bottom-style: dashed;
  position: relative;
  background-image: linear-gradient(to bottom, #f62e24 0%, #ff3679 100%);
  animation: init 3s; }

h1 {
  font-size: 3em;
  text-transform: uppercase;
  margin: 0; }

h2 {
  font-size: 1.5em;
  font-weight: bolder;
  text-decoration: underline;
  margin: 0; }

dl,
input {
  width: 100%;
  font-size: 1.5em;
  padding: 0.5em;
  margin: 0.3em 0;
  color: #111111;
  border: solid 1.5px #111111;
  appearance: none;
  box-shadow: none;
  border-radius: 0.3em; }

.panel {
  padding: 2em 10%;
  background-color: #FFFFFF;
  border-bottom-left-radius: 0.5em;
  border-bottom-right-radius: 0.5em;
  border: 2px dashed #111111;
  margin-bottom: 1em;
  position: relative; }
  .panel:last-child {
    margin-bottom: 0; }

.btn {
  border-radius: 0.25em;
  border-style: solid;
  border-width: 1px;
  color: #111;
  border-color: #111111;
  display: inline-block;
  font-family: avenir, helvetica, roboto, arial, sans-serif;
  letter-spacing: 0.15em;
  margin-bottom: 0.5em;
  padding: 1em 1.5em;
  text-decoration: none;
  text-transform: uppercase;
  transition: 0.5s;
  background-color: #FFFFFF; }
  .btn:hover {
    background-color: #111111;
    color: #FFFFFF; }

 .form-control {
  width: 100%;
  font-size: 1.5em;
  padding: 0.5em;
  margin: 0.3em 0;
  color: #111111;
  border: solid 1.5px #111111;
  appearance: none;
  box-shadow: none;
  border-radius: 0.3em; }
