<!DOCTYPE html>
<html>
  <head>
    <title>Podcasts PyCast</title>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="../static/css/reset.css">
    <link rel="stylesheet" href="../static/css/main.css">
  </head>
  <body>
    <header>
      <div class=header_info>
        <div class="heading">
          <h1>FCast</h1>
        </div>
        {% if error %}
        <div class="error-alert">{{ error }}</div>
      {% endif %}
        <div class="formadd">
          <form action="/" method="POST">
            <fieldset>
                <input type="text" name="url" id="urlfeed" /><button>add</button>
            </fieldset>
          </form>
          </div>
        </div>
    </header>
    <main>
      <section class="cards">
        {% if info %}
          <h1 class="info-alert">Empty!</h1>
        {% else %}
        {% for pod in podcasts_list %}
        <article class="hover14">
            <a href="/{{ pod.0 }}/">
                <figure>
                  <img class="article-img" src="{{ pod.2 }}" alt=" " />
                </figure>
                <a class="remove-button" href="{{ url_for('remove', id=pod.0) }}">
                    <img class="remove-img" src="../static/img/remove.png" alt=" " />
                </a>

            </a>
        </article>
        {% endfor %}
        {% endif %}
      </section>
    </main>
  </body>
</html>
