<!DOCTYPE html>
<html>
  <head>
      <link rel="stylesheet" href="../static/lista.css">
  </head>
<body>
  <header>
      <div class=header_info>
      <h1 class="heading">WFPyCast - Epsodios</h1>
      <a class="link_home" href="{{ url_for('index') }}">Home</a>
    </header>
<div class="div-eps">
    <input type="text" id="myInput" onkeyup="myFunction()" placeholder="Search for podcasts.." title="Type in a name">
    <ul id="myUL">
  {% for pod in episodes_name %}
    <li><div class="pod_name">{{ pod.0 }}</div> <a class="buttonDownload" href="{{ pod.1 }}">download</a></li>
  {% endfor %}

</ul>
</div>
<script>

function myFunction() {
    var input, filter, ul, li, a, i, txtValue;
    input = document.getElementById("myInput");
    filter = input.value.toUpperCase();
    ul = document.getElementById("myUL");
    li = ul.getElementsByTagName("li");
    for (i = 0; i < li.length; i++) {
        h2 = li[i].getElementsByTagName("div")[0];
        txtValue = h2.textContent || h2.innerText;
        if (txtValue.toUpperCase().indexOf(filter) > -1) {
            li[i].style.display = "";
        } else {
            li[i].style.display = "none";
        }
    }}

</script>
</body>
</html>
